<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ninjas</title>
</head>
<body>
    <div class=container_ninja>
        <h1>Introducing...The Ninjas</h1>
        <img src="static/donatello.jpg" alt="Donatello">
        <h2>Donatello</h2>
        <img src="static/leonardo.jpg" alt="Leonardo">
        <h2>Leonardo</h2>
        <img src="static/michelangelo.jpg" alt="Michelangelo">
        <h2>Michelangelo</h2>
        <img src="static/raphael.jpg" alt="Raphael">
        <h2>Raphael</h2>


    </div>
    
</body>
</html>