<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ninjas</title>
</head>
<body>
    <div class=container_ninjaColor>
        <h1>Introducing...The Ninjas</h1>
        <div id="donatello">
            <img src="{% url_for('static', filename=image_src) %}" alt="Donatello">
            <h2>Donatello</h2>
        </div>
        <div id='leonardo'>
            <img src="{% url_for('static', filename=image_src) %}" alt="Leonardo">
            <h2>Leonardo</h2>
        </div>
        <div id="michelangelo">
            <img src="{% url_for('static', filename=image_src) %}" alt="Michelangelo">
            <h2>Michelangelo</h2>
        </div>
        <div id="raphael">
            <img src="{% url_for('static', filename=image_src) %}" alt="Raphael">
            <h2>Raphael</h2>
        </div>
        <div id="april">
            <img src="{% url_for('static', filename=image_src) %}" alt="Not April">
            <h2>Not April</h2>
        </div>
    </div>
    
</body>
</html>